/* IMPORT
---------------------------------------------------------------------------------------------------- */
@import "/css/vendor/reset.css" all;
@import "/css/vendor/jquery.arcticmodal-0.3.css" all;

@import "/css/layers/base/debug.css" all;
@import "/css/layers/base/layout.css" all;
@import "/css/layers/base/styles.css" all;
@import "/css/layers/base/dialogs.css" all;

@import "/css/layers/styles/styles.css" all;
@import "/css/layers/styles/content.css" all;

@import "/css/layers/project/project.css" all;

/* RESPONSIVE
---------------------------------------------------------------------------------------------------- */
@import url(/css/media/phone.css) all and (max-width: 640px);
@import url(/css/media/tablet.css) all and (min-width: 641px) and (max-width: 940px);


/* FONTS
---------------------------------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);

@font-face {
  font-family: 'pf_agora_sans_proxthin';
  src: url('/fonts/pfagorasanspro-xthin-webfont.eot');
  src: url('/fonts/pfagorasanspro-xthin-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/pfagorasanspro-xthin-webfont.woff') format('woff'),
       url('/fonts/pfagorasanspro-xthin-webfont.ttf') format('truetype'),
       url('/fonts/pfagorasanspro-xthin-webfont.svg#pf_agora_sans_proxthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_agora_sans_proregular';
  src: url('/fonts/pfagorasanspro-reg-webfont.eot');
  src: url('/fonts/pfagorasanspro-reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/pfagorasanspro-reg-webfont.woff') format('woff'),
       url('/fonts/pfagorasanspro-reg-webfont.ttf') format('truetype'),
       url('/fonts/pfagorasanspro-reg-webfont.svg#pf_agora_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}