<menu class="program_sections">
  <li class="program_sections_i">
    <p class="program_sections_i_t">Секция 1</p>
    <a href="#section1" class="program_sections_i_a" data-scroll="true">Повышение конверсии: методы и немного теории</a>
  </li>
  <li class="program_sections_i">
    <p class="program_sections_i_t">Секция 2</p>
    <a href="#section2" class="program_sections_i_a" data-scroll="true">Высоконагруженные проекты для менеджеров</a>
  </li>
  <li class="program_sections_i">
    <p class="program_sections_i_t">Секция 3</p>
    <a href="#section3" class="program_sections_i_a" data-scroll="true">Реальные кейсы управления эффективностью и оптимизации конверсии</a>
  </li>
</menu>