<section class="program-days __normal">
  <div class="ctn">
    <div class="cols">
      <div class="cols-1 mod program-days_i">
        <p class="program-days_t">все дни</p>
      </div><div class="cols-1 mod program-days_i">
        <a href="#" class="program-days_a">
          <div class="program-days_date">23</div>
          <div class="program-days_month">октября</div>
          <div class="program-days_week">Среда</div>
        </a>
      </div><div class="cols-1 mod program-days_i">
        <a href="#" class="program-days_a">
          <div class="program-days_date">24</div>
          <div class="program-days_month">октября</div>
          <div class="program-days_week">Четверг</div>
        </a>
      </div><div class="cols-1 mod program-days_i">
        <a href="#" class="program-days_a">
          <div class="program-days_date">25</div>
          <div class="program-days_month">октября</div>
          <div class="program-days_week">Пятница</div>
        </a>
      </div>
    </div>
  </div>
</section>