<div class="cols-5 profile_buy_table_i">
  <dl class="cols">
    <dd class="cols-2 mod">
      <p>Константинопольский Константин, РАЭК</p>
    </dd><dd class="cols-1 mod">
      <p><a href="#" class="a__pseudo" data-dialog="order_food">Бизнес-ланч</a></p>
    </dd><dd class="cols-1 mod">
      <p><b>1 000 Р</b></p>
    </dd><dd class="cols-1 mod">
      <div class="profile_buy_code clearfix">
        <div class="f-l"><input type="text" class="form_text profile_buy_code_input" placeholder="Промо-код"></div>
        <div class="f-r"><a href="#"><img src="/img/blank.gif" class="ico-15 __remove profile_buy_code_remove" alt="Remove"></a></div>
      </div>
    </dd>
  </dl>
</div>