<div class="cols profile_user">
  <div class="cols-1 mod">
    <img src="/img/fake/img_180_180.jpg" class="profile_user_avatar" alt="Константин Константинопольский">
  </div><div class="cols-3 mod">
    <h5 class="cols-1 profile_user_name">Константин Константинопольский</h5>
    <p class="tx __muted m-b_2">РАЭК, технический директор</p>
    <div class="profile_user_status __virtual cols-1 m-b_2">Виртуальный участник</div>
    <!--<div class="profile_user_status __professional cols-1 m-b_2">Профессиональный</div>-->
    <p><span class="tx __small __muted dot">Редактировать профиль можно в системе</span> <a href="#">RUNET-ID</a></p>
  </div><div class="cols-1 mod">
    <a href="/schedule.html" class="form_button __default cols-1 m-b_2">Мое расписание</a>
    <p class="tx __small __muted dot">Составьте персональное расписание, и&nbsp;не&nbsp;пропустите ничего интересного</p>
  </div>
</div>