<footer id="footer" class="footer" role="contentinfo">
  <div class="ctn">
    <hr class="hr __footer">
    <nav class="cols footer-nav">
      <div class="cols-1 mod clearfix">
        <h6 class="m-b_2 tt-uc">RIW 2013</h6>
        <a href="#" class="footer-nav_a">О мероприятии</a>
        <a href="/program.html" class="footer-nav_a">Программа</a>
        <a href="#" class="footer-nav_a">Выставка</a>
        <a href="#" class="footer-nav_a">Партнеры</a>
      </div><div class="cols-1 mod clearfix">
        <h6 class="m-b_2 tt-uc">Участникам</h6>
        <a href="#" class="footer-nav_a">Формы участия</a>
        <a href="#" class="footer-nav_a">Что нужно знать</a>
        <a href="/program.html" class="footer-nav_a">Программа</a>
        <a href="#" class="footer-nav_a">Требования</a>
        <a href="#" class="footer-nav_a">Доклады</a>
      </div><div class="cols-1 mod clearfix">
        <h6 class="m-b_2 tt-uc">Upstart</h6>
        <a href="#" class="footer-nav_a">Золотой сайт</a>
        <a href="#" class="footer-nav_a">Экспертный совет</a>
        <a href="#" class="footer-nav_a">О проекте</a>
      </div><div class="cols-1 mod clearfix">
        <h6 class="m-b_2 tt-uc">Media</h6>
        <a href="/news.html" class="footer-nav_a">Новости</a>
        <a href="#" class="footer-nav_a">Прессцентр</a>
      </div><div class="cols-1 mod clearfix">
        <a href="#" class="footer-nav_a">2012</a>
        <a href="#" class="footer-nav_a">2011</a>
        <a href="#" class="footer-nav_a">2010</a>
        <a href="#" class="footer-nav_a">2009</a>
        <a href="#" class="footer-nav_a">2008</a>
      </div>
    </nav>
    <div class="cols">
      <nav class="cols-2 offset-1 mod footer-social">
        <a href="#" class="footer-social_a"><i class="ico-24 __tw" title="Twitter"></i></a>
        <a href="#" class="footer-social_a"><i class="ico-24 __fb" title="Facebook"></i></a>
        <a href="#" class="footer-social_a"><i class="ico-24 __vk" title="Vkontakte"></i></a>
        <a href="#" class="footer-social_a"><i class="ico-24 __gp" title="Google Plus"></i></a>
        <a href="#" class="footer-social_a"><i class="ico-24 __yt" title="You Tube"></i></a>
      </nav><div class="cols-1 offset-1 mod footer-copyright">
        <p>© RIW 2013</p>
        <p>Все права защищены</p>
      </div><div class="cols-2 offset-1 mod footer-search">
        <form><input type="text" class="footer-search_input" placeholder="Поиск"></form>
      </div><div class="cols-1 offset-1 mod footer-copyright p-r">
        <p>Дизайн разработан</p>
        <p>в агентстве <a href="http://coalla.ru" class="footer-copyright_a">Coalla</p>
        <a href="http://coalla.ru"><img src="/img/blank.gif" alt="Coalla Agency" title="Coalla Agency" class="coalla"></a>
      </div>
    </div>
  </div>
</footer>