<nav class="navigation">
  <menu class="navigation-menu cols">
    <li class="navigation-menu_i cols-1 mod"><a href="#" class="navigation-menu_a navigation-menu_a__lang">ENG</a></li>
    <li class="navigation-menu_i cols-1 mod" data-cols="2"><a href="/program.html" class="navigation-menu_a">Программа</a></li>
    <li class="navigation-menu_i cols-1 mod" data-cols="3"><a href="#" class="navigation-menu_a">Выставка</a></li>
    <li class="navigation-menu_i cols-1 mod" data-cols="4">
      <a href="#" class="navigation-menu_a">Место</a>
      <menu class="navigation-menu-dropdown">
        <li class="navigation-menu-dropdown_i"><a href="#" class="navigation-menu-dropdown_a">UpStart Conf</a></li>
        <li class="navigation-menu-dropdown_i"><a href="#" class="navigation-menu-dropdown_a">«Аллея инноваций»</a></li>
        <li class="navigation-menu-dropdown_i"><a href="#" class="navigation-menu-dropdown_a">Интернет в цифрах</a></li>
        <li class="navigation-menu-dropdown_i"><a href="#" class="navigation-menu-dropdown_a">Премия «Золотой Сайт»</a></li>
        <li class="navigation-menu-dropdown_i"><a href="#" class="navigation-menu-dropdown_a">Премия «Золотой подкаст»</a></li>
        <li class="navigation-menu-dropdown_i"><a href="#" class="navigation-menu-dropdown_a">Игра ProRIW</a></li>
      </menu>
    </li>
    <li class="navigation-menu_i cols-1 mod" data-cols="5"><a href="#" class="navigation-menu_a">Бизнес-зал</a></li>
  </menu>
</nav>

<header id="header" class="header" role="banner">
  <div class="cols">
    <div class="cols-2 mod">
      <div class="header-logo">
        <a href="/"><img src="/img/logo.png" alt="RIW2013" class="header-logo_img"></a>
        <p class="header-logo_date">23, 24, 25 октября</p>
        <p class="header-logo_location">москва, экспоцентр</p>
      </div>
    </div><div class="cols-1 offset-1 mod">
      <nav class="header-nav clearfix">
        <a href="#" class="header-nav_i">О мероприятии</a>
        <a href="#" class="header-nav_i">Участники</a>
        <a href="#" class="header-nav_i">Партнеры</a>
        <a href="#" class="header-nav_i">Золотой сайт</a>
        <a href="#" class="header-nav_i">СМИ</a>
      </nav>
    </div><div class="cols-1 mod">
      <nav class="header-nav clearfix">
        <a href="#" class="header-nav_i">Регистрация</a>
        <a href="#" class="header-nav_i">Войти</a>
      </nav>
    </div>
  </div>
</header>