<div class="dialog profile_buy_food" id="order_food">
  <a href="#" class="dialog_close"><img src="/img/blank.gif" class="ico-15 __close" alt="Close"></a>
  <h6 class="profile_buy_food_t">Заказать питание</h6>
  <div class="profile_buy_food_tx">
    <p>На территории проведения RIW-2013 будет работать кафе «Андерссон».</p>
    <p>Вы можете заранее приобрести бизнес-ланч по цене 800 рублей/день:</p>
  </div>
  <div class="profile_buy_food_checks">
    <label class="profile_buy_food_checks_i"><input type="checkbox"> 17 октября</label>
    <label class="profile_buy_food_checks_i"><input type="checkbox"> 18 октября</label>
    <label class="profile_buy_food_checks_i"><input type="checkbox"> 19 октября</label>
  </div>
</div>