<article class="news_i cols-2 mod">
  <h6 class="news_t"><a href="/news_show.html">Инвестиции в будущее: самые перспективные проекты Рунета 2012</a></h6>
  <p class="news_published">16 сентября 3013</p>
  <p class="news_cnt">Второй день на RIW 2012 начался в Белом зале Экспоцентра с секции «Инвестиции в будущее: самые перспективные проекты Рунета 2012». Тема секции была предложена исполнительным директором Фонда содействия развитию технологий и инфраструктуры интернета Матвеем Алексеевым, вели секцию директор РАЭК Сергей...</p>
</article>